@mixin flex($dir, $wr, $jc, $ai, $gap){
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wr;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin  tablet{
    @media (min-width: 561px) and (max-width: 968px) {
        @content;
    }
}

@mixin  mobile{
    @media (min-width: 300px) and (max-width: 561px) {
        @content;
    }
}