@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.footer {
    @include m.flex(row, wrap, space-between, center, 20px);

    background: v.$verde-principal;
    color: v.$blanco;

    p,
    h3,
    strong {
        color: v.$blanco;
        margin: 0
    }

    margin-top: 10px;
    padding: 12px 20px;

    .rs {
        display: flex;
        gap: 15px;
    }

    .redes {
        width: 40px;
        height: 40px;

        transition: .3s;

        &:hover {
            transform: scale(1.15);
        }
    }
}

img.wa {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: auto;
    max-width: 70px;

    z-index: 9999;

    animation: vibrate 1s ease infinite;
    transition: transform .3s ease;
}

.wa:hover {
    transform: scale(1.1);
}
@include m.tablet {
    .footer {
        flex-direction: column;
        text-align: center;

        .rs {
            justify-content: center;
        }
    }
}

@include m.mobile {
    .footer {
        flex-direction: column;
        text-align: center;

        .rs {
            justify-content: center;
        }

        .redes {
            width: 35px;
            height: 35px;
        }
    }
}